.Project-card {
  background-color: #fff;
  justify-content: space-between;
  width: 21.8rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 2rem;
  margin: 10px;
}
.frame {
  box-sizing: border-box;
  height: 14rem;
}

.Project-card > .about-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 1rem 0;
  text-align: center;
}
.Project-card > .about-project > h2 {
  padding: 1rem 0;
}

@media only screen and (max-width: 600px) {
  .frame {
    height: 10rem;
  }
}
