.container {
  display: flex;
  margin: 20px;
}
.create-blog {
  width: 50%;
}

.input {
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
}
.input > input {
  padding: 10px;
}
.input > input:focus {
  outline: none;
}
.input > textarea {
  height: 200px;
}
.input > textarea:focus {
  outline: none;
}

#file {
  cursor: pointer;
}
#toast {
  position: absolute;
  left: 30%;

  z-index: 10;
}

.display {
  padding: 10px;
  width: 50%;
}
.display > div {
  padding: 10px 20px;
}
.display > div > label {
  margin-right: 10px;
}
.display > div > button {
  cursor: pointer;
  padding: 3px 5px;

  color: red;
  background-color: #fff;
  border: none;
}
.display > div > button:hover {
  color: #fff;
  background-color: red;
}
.disable {
  cursor: not-allowed;
  padding: 10px 20px;
  border: 2px solid rgb(68, 68, 68);
  color: #fff;
  background-color: rgb(68, 68, 68);
  border-radius: 5px;
}
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .create-blog {
    width: 100%;
  }
  .display {
    padding: 10px;
    width: 100%;
  }
}
