@import url("https://fonts.googleapis.com/css2?family=Knewave&family=Permanent+Marker&display=swap");
.home-container {
  display: flex;
  /* background-image: linear-gradient(
    to right top,
    #83e4ff,
    #c3f1ff,
    #d3eefd,
    #fffcfe,
    #ffffff,
    #ffffff,
    #ffffff
  ); */
  background-image: url("../../assets/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.home-container > div {
  width: 50%;
}
.home-container > .intro {
  padding: 100px;
}
.intro > h1 {
  color: rgb(85, 85, 87);
  font-size: 70px;
  line-height: 120px;
  text-shadow: 5px 5px 5px rgb(211, 210, 210);
}
.intro > p {
  font-size: 20px;
  color: gray;
}
.image {
  display: flex;
  justify-content: flex-start;
}
.image > img {
  height: 650px;
}

.social {
  display: flex;
  padding: 20px 0;
}
@media only screen and (max-width: 600px) {
  .home-container {
    flex-direction: column;
  }
  .home-container > div {
    width: 100%;
  }
  .home-container > .intro {
    margin-top: 20px;
    padding: 20px;
  }
  .intro > h1 {
    font-size: 40px;
    line-height: 60px;
  }
  .image > img {
    height: 400px;
  }
}
