.footer {
  background-color: rgb(38, 34, 34);
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 60px;
}
.left > div {
  display: flex;
  align-items: center;
}
.inner-left > div {
  padding: 15px;
}
.right > div {
  padding: 10px;
}
.ficon {
  height: 35px;
}
.follow > a {
  margin: 10px;
}
@media only screen and (max-width: 600px) {
  .footer {
    flex-direction: column-reverse;
  }
  .left {
    margin: 15px 0;
  }
}
