* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  touch-action: pan-y;
}

.btn {
  padding: 10px 20px;
  border: 2px solid rgb(68, 68, 68);
  color: #fff;
  background-color: rgb(68, 68, 68);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
}
.btn:hover {
  color: rgb(68, 68, 68);
  background-color: #fff;
}

.test {
  padding: 70px;
}
@media only screen and (max-width: 600px) {
  .btn {
    padding: 5px 15px;
  }
}
