.recent-project {
  padding: 40px 20px;
  background-color: rgb(221, 221, 221);
}

.r-heading {
  text-align: center;
}
.p-div {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
