.p-card {
  margin: 20px;
  padding: 10px;
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.2);
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.thbnail {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 250px;
  cursor: pointer;
}

.card-img {
  height: 200px;
  width: 250px;
}
.overlay {
  position: relative;
  height: 0px;
  padding: 20px;
  background-color: black;
  opacity: 0%;
  color: #fff;
  position: relative;
  bottom: 60px;
  transition: 0.8s;
  transition-timing-function: ease;
}
.thbnail:hover .overlay {
  height: 50px;
  opacity: 90%;
}

@media only screen and (max-width: 600px) {
  .thbnail {
    height: 180px;
    width: 230px;
  }
  .thbnail > img {
    height: 180px;
    width: 230px;
  }
}
